@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e9edde;
    --foreground: #032f05;
    --primary-green: #224821; /* Primary green color */
    --muted-green: #6f986e; /* Primary green color */
    --secondary-green: #c2dea9; /* Lighter shade for accents */
    --dark-green: #032f05; /* Darker shade for depth */
    --light-green-bg: #e8f5e9; /* Soft background */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-green: #81C784;
    --secondary-green: #A5D6A7;
    --dark-green: #2E7D32;
    --light-green-bg: #1B5E20;
  }
} */

html {
    line-height: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.border-primary-green {
    border-color: var(--primary-green);
}

.border-green {
    border-color: var(--secondary-green);
}

.bg-color {
    background-color: var(--background);
}

.bg-primary-green {
    background-color: var(--primary-green);
}
.bg-secondary-green {
    background-color: var(--secondary-green);
}

.text-primary-green {
    color: var(--primary-green);
}
.text-secondary-green {
    color: var(--secondary-green);
}
.text-light-green {
    color: var(--light-green-bg);
}

.bg-light-green {
    background-color: var(--light-green-bg);
}

.text-dark-green {
    color: var(--dark-green);
}
.text-muted-green {
    color: var(--muted-green);
}

.gradient-green-to-b {
    background: linear-gradient(to bottom, var(--primary-green) 10%, transparent 80%);
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

html *::-webkit-scrollbar-track {
    background-color: var(--background);
}

html *::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background-color: #f5f5f500;
}

html *::-webkit-scrollbar-thumb {
    background-color: var(--secondary-green);
}

.scrollbar-hide {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


/* landing page styling */

:root {
    --border-color: var(--background);
    --container-background: var(--primary-green);
}

.top-r-section::after {
    content: '';
    position: absolute;
    left: -2rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-top-right-radius: 50px;
    background: linear-gradient(to bottom left, var(--container-background), transparent);
    box-shadow: 4px -4px 0 4px var(--border-color), 8px -20px 0 4px var(--border-color);
    z-index: 1;
}
.top-r-section::before {
    content: '';
    position: absolute;
    right: 0rem;
    bottom: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-top-right-radius: 50px;
    background: linear-gradient(to bottom left, var(--container-background), transparent);
    box-shadow: 4px -4px 0 4px var(--border-color), 20px -6px 0 6px var(--border-color);
    z-index: 1;
}
.bottom-r-section::after {
    content: '';
    position: absolute;
    right: 0rem;
    top: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom-right-radius: 50px;
    background: linear-gradient(to top left, var(--container-background), transparent);
    box-shadow: 4px 4px 0 4px var(--border-color), 20px 6px 0 6px var(--border-color);
    z-index: 1;
}

.large-section{
    box-shadow: inset 0 0 20px rgb(34, 34, 34);
}
.large-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: calc(33.333% + 0.5rem);
    width: 1.5rem;
    height: 1.5rem;
    border-bottom-right-radius: 50px;
    background: linear-gradient(to top left, var(--container-background), transparent);
    box-shadow: 4px 4px 0 4px var(--border-color);
    z-index: 1;
}

.white-to-bg-gradient {
    background: linear-gradient(to bottom, white, var(--background));
}

@media (prefers-color-scheme: dark) {
}
